<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
	<div>
	 	<label>Name</label>
	 	<input formControlName="name" type="text" name="name">
	</div>
	<br>
	<div>
	 	<label>Email</label>
	 	<input formControlName="email" type="email" name="email">
	</div>
	<br>
	<div>
		<label for="feedback">Feedback:</label>
            <div>
              <input id="great" type="radio" value="great" name="feedback" formControlName="feedback">
              <label for="great">Great</label>
            </div>
			<div>
              <input id="okay" type="radio" value="okay" name="feedback" formControlName="feedback">
              <label for="okay">Okay</label>
           	</div>
           	<div>
              <input id="notgood" type="radio" value="notgood" name="feedback" formControlName="feedback">
              <label for="notgood">Not Good</label>
           	</div>
	</div>
	<br>
	<div>
	 	<label>Comments</label>
	 	<textarea formControlName="comment" name="comment"></textarea>
	</div>
	<br>
	<button type="submit" class="submitbutton">Submit</button> 
</form>
<h3>Name: {{data.name}}</h3>
<h3>Email: {{data.email}}</h3>
<h3>Feedback: {{data.feedback}}</h3>
<h3>Comments: {{data.comment}}</h3>