$purple: #8e44ad;
.navbar{
  margin-top:0px;
  margin-right:20px;
  margin-left:20px;
  margin-bottom:30px;
  padding-top:10px;
  padding-bottom:10px;
  align-content: center;
  position:fixed;height:80px;
}
.active{
 color: #fff;margin-top:10px;
 padding:10px;margin-left:30px;margin-right:30px;
 background:$purple;
	text-decoration: none;
	border-radius:0.5em;
font-size: 50px;font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  transition: all 150ms ease-in-out;
  &:hover {
  color: $purple;
    box-shadow: 0 0 10px 0 $purple inset, 0 0 10px 4px $purple;
    background: #fff;

  }
}
